<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="login">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="lista_mascotas">Ver Mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="crear_mascota">Crear Mascotas</a>
      </li>
      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>