<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <form class="form-signin" #crearForm = "ngForm" (ngSubmit) = "iniciarSesion(crearForm)">
              <div class="form-label-group">
                Nickname:
                <input type="text"  [(ngModel)]="nickname" id="nickname" name="nickname" class="form-control"  required autofocus>
               
              </div>

              <hr>

              <div class="form-label-group">
                  Contraseña:

                <input type="password"  [(ngModel)]="password" id="password" name="password" class="form-control"  required>
                
              </div>
              
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
              <a class="d-block text-center mt-2 small" href="#">Crear Cuenta</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet name="login"></router-outlet>